<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero__backgound">
                </div>
                <div class="hero__title">
                    АРМІЙСЬКИЙ ЖЕТОН
                    З ВЛАСНИМ ТЕКСТОМ
                </div>
                <div class="hero__describe">
                    Військовий жетон – традиційний 
                    ідентифікаційний знак для військовослужбовців.
                </div>
                <div class="hero__btn">
                    <a class="yellow-btn" href="#">Створити свій </a>
                    <a class="border-btn" href="#">Обрати дизайн</a>
                </div>
                <div class="hero__img"></div>
            </div>
        </div>
    </div>
</section>