$var1: #FFFFFF;
$var2: #FFD234;
$var3: #81ad06;
.header{
    background-color: #23280F;
    height: auto;
    &__nav
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    &__link {
        color: $var1;
        font-weight: 600;
        font-size: 18px;
        &:hover {
            color: $var2;
            transition: 0.4s;
        }
    }

    &__item{
        padding: 10px;
        @media screen and(max-width:768px){
            display: none;
        }
    }
    .header__btn {
        padding: 10px 30px;
        background-color: $var2;
        border-radius: 5px;
        color: $var1;
        font-weight: 600;
        font-size: 18px;
        white-space: nowrap;
        &:hover {
            color: $var1;
            background-color: $var3;
            transition: 0.4s;
        }
        @media screen and (max-width:1200px){
           display: none;
        }
    }
}








